<html data-namespace-typo3-fluid="true"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:easyCaptcha="http://typo3.org/ns/ColumbusInteractive/EasyCaptcha/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers">
<formvh:renderRenderable renderable="{element}">
    <easyCaptcha:render/>

    <div class="easycaptcha" id="{element.uniqueIdentifier}">
        <div class="easycaptcha__challenge">
            <div class="easycaptcha__image-wrapper">
                <img src="/easycaptcha/image?pid={currentPid}&amp;identifier={element.identifier}"  alt="{f:translate(key: 'captchaImageAltAttribute', extensionName: 'easycaptcha')}" class="easycaptcha__image" width="{element.properties.width}" height="{element.properties.height}" />
            </div>

            <div class="easycaptcha__actions">
                <f:if condition="{element.properties.enableTts} == true">
                    <button type="button" title="{f:translate(key: 'playButton', extensionName: 'easycaptcha')}" class="easycaptcha__action-tts" style="display: none;" data-tts-url="/easycaptcha/tts">
                        <core:icon identifier="actions-play" size="small" alternativeMarkupIdentifier="inline" />
                    </button>
                </f:if>
                <button type="button" title="{f:translate(key: 'refreshButton', extensionName: 'easycaptcha')}" class="easycaptcha__action-reload" style="display: none;">
                    <core:icon identifier="actions-refresh" size="small" alternativeMarkupIdentifier="inline" />
                </button>
            </div>
        </div>

        <div class="easycaptcha__input-wrapper">
            <f:render partial="Text" arguments="{element: element}" />
        </div>

        <script type="application/javascript">
            window.addEventListener('load', function () {
                easycaptcha.init('<f:format.raw>{element.uniqueIdentifier}</f:format.raw>');
            });
        </script>
    </div>
</formvh:renderRenderable>
</html>
